/* just to make the page at least reasonable to look at */
.logo {
  width: 300px;
}

#controls {
  bottom: 20px;
  position: fixed;
  right: 20px;
}

.styled a {
  font-family: sans-serif;
  text-decoration: none;
}

.styled a:hover {
  text-decoration: underline;
}

.styled ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.styled li {
  display: inline-block;
  margin: 0 4px;
}

.styled .no-wrap {
  white-space: nowrap;
}

.styled .sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.styled .main-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.styled .main-header > div,
.styled .main-header > nav {
  margin-bottom: 12px;
}

.styled .primary-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  order: 2;
  width: 100%;
}

.styled .logo {
  max-width: 220px;
}

.styled .search-form {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.styled .slot-and-trolley-actions {
  display: flex;
  flex-grow: 0;
}

.styled .slot-and-trolley-actions button {
  height: 100%;
  margin-left: 8px;
}

.styled .slot-actions {
  position: relative;
}

.styled .slot-details {
  background: #fff;
  border: 1px solid #666;
  padding: 16px;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 5;
}

.styled .slot-details header,
.styled .slot-details > div {
  display: block;
  margin-bottom: 16px;
}

.styled .slot-details header {
  font-weight: bold;
}

.styled .slot-address-details span {
  display: block;
}

.styled .trolley-actions-container {
  position: relative;
}

.styled .accessible-trolley {
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 0;
}

.styled .accessible-trolley:focus {
  background: #efefef;
  border: 1px outset #767676;
  box-sizing: border-box;
  color: #000;
  font-family: Arial;
  font-size: 13.3333px;
  height: 21.4286px; /* naturally rendered height of the <button /> in Chrome */
  padding: 1px 6px;
  text-align: center;
  right: 0;
  width: auto;
  z-index: 2;
}

.trolley-button {
  height: 21.4286px;
}

.styled .primary-navigation {
  display: flex;
  justify-content: space-between;
  order: 3;
  width: 100%;
}

.styled .mega-menu-container {
  position: relative;
}

.styled .mega-menu:not([hidden]) {
  background: #efefef;
  border: 1px outset #767676;
  display: flex;
  flex-direction: row;
  left: 0;
  min-height: 300px;
  position: absolute;
  top: 100%;
  width: 800px;
}

.styled .mega-menu-navigation {
  display: flex;
  flex-direction: column;
}

.styled .mega-menu-navigation li {
  margin: 0;
  white-space: nowrap;
  width: 100%;
}

.styled .mega-menu-navigation li > button {
  text-align: left;
  width: 100%;
}

.styled .mega-menu-categories {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.styled .mega-menu-categories nav:not([hidden]) {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

.styled .mega-menu-categories ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 16px;
}

.styled .mega-menu-categories li {
  display: inline;
  margin: 8px 2px;
}

.styled .mega-menu-categories a {
  background: #efefef;
  border: 1px outset #767676;
  box-sizing: border-box;
  margin: 4px 8px;
  padding: 4px 8px;
}

.styled .mega-menu-categories a.offer-category-button {
  background: #a6192e;
  color: #fff;
}

.styled .authored-primary-navigation {
  flex-grow: 1;
}

.styled .account-actions {
  flex-grow: 0;
}

.styled .account-actions > :not([hidden]) {
  display: inline-block;
}

.styled .account-action-wrapper:not([hidden]) {
  position: relative;
}

.styled .account-popup:not([hidden]) {
  border: 1px outset #767676;
  padding: 4px;
  position: absolute;
  right: 0;
  top: calc(100% + 8px);
}

.styled .account-popup:not([hidden]) > li {
  border-bottom: 1px solid #efefef;
  margin: 0;
  padding: 4px 0;
  width: 100%;
}

.styled .account-popup:not([hidden]) > li a {
  padding: 8px;
  white-space: nowrap;
}

.styled .secondary-navigation {
  display: flex;
  justify-content: flex-end;
  order: 1;
  width: 100%;
}
